.secondary{
border: solid 1px;
 color:rgb(13, 14, 13)        
}
.danger{
color:red       
}

.success{
 color:rgb(52, 100, 4)         
}
form{
margin-left: 100px;
}
.app{
       align-items: center;
       justify-content: center;
       margin-left: 500px;
       width: 500px;
       height: 680px;
       margin-top: 20px;
       background: rgb(223, 216, 216);
       font-weight: bold;
       flex-direction: column;
}

.app h1{
       text-align: center;
}

#balance{
       text-align: center;
       color: forestgreen;
}

#income{
       text-align: center;
       color: darkgreen;
}

#expense{
       text-align: center;
       color: red;
}

.form span{
       margin-left: 30px;
}

.form input{
       margin-left: 10px;
}

.table{
display: flex;
align-items: center;
justify-content: center;
}

.submit{
       margin-left: 150px;
}