.secondary{
border: solid 3px;
color:black;
background-color: whitesmoke;
}
.success{
color:green;
border: solid 3px;
background-color: whitesmoke;   
}

.danger{
color:red;
border: solid 3px;
background-color: whitesmoke;       
}
form{
margin-left: 100px;
}
.app{
       align-items: center;
       justify-content: center;
       margin-left: 500px;
       width: 500px;
       height: 680px;
       margin-top: 20px;
       background: rgb(223, 216, 216);
       font-weight: bold;
       flex-direction: column;
}

.app h1{
       text-align: center;
}

#balance{
       text-align: center;
       color: black;
}

#income{
       text-align: center;
       color: green;
}

#expense{
       text-align: center;
       color:red;
}

.form span{
       margin-left: 30px;
}

.form input{
       margin-left: 10px;
}

.table{
display: flex;
align-items: center;
justify-content: center;
}

table, th, td{
border: solid 1px black;
border-collapse: collapse;


}

.submit{
       margin-left: 150px

}
.btn #secondary {
       background-color:red;
     }
     
.btn #success {
       background-color: darkgreen;
       color: white;
      
     }